*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    
}

#scores{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.hide{
    display: none;
}




#startQuiz{
    padding-top: 60px;
    position: relative;
   
    flex-direction: column;
    align-items: center;
}

#startQuiz h1{
    font-size: 40px;
}

#startQuiz p{
    font-size: 30px;
    width: 70%;
}
#quiz{
    width: 50%;
    margin: 0 auto;
}

#question-container{
    flex-direction: column;
   
    margin-top: 200px;
}


#done{

    
    margin-top: 200px;
    
}


#answer {
    
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid rgb(201, 193, 193);
 
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: darkslateblue;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
}

#view-high-scores { 
    cursor: pointer;
    color: pink;

}

#view-high-scores:hover {
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: orange;
}


.choices button {
    display: block;
}
  
input[type="text"] {
    font-size: 100%;
}
  
ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}
  
li {
    padding: 5px;
    list-style: decimal inside none;
}
  
li:nth-child(odd) {
    background-color: #dfdae7;
}
  